:root {
  --node-width: 210px;
  --node-height: 85px;
  --uncomplete-color: red;
  --complete-color: green;
  --confirm-color: blue;
  --unconfirm-color: yellow;
  --prereq-color: black;
  --concurrent-color: blue;
  --recomend-color: green;
}

.node-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.flow-node {
  max-width: var(--node-width) !important;
  min-width: var(--node-width) !important;
  max-height: var(--node-height) !important;
  min-height: var(--node-height) !important;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.uncompleted {
  background-color: var(--uncomplete-color);
}

.completed {
  background-color: var(--complete-color);
}

.confirmed {
  background-color: var(--confirm-color);
}

.unconfirmed {
  background-color: var(--unconfirm-color);
}
