:root {
  --node-width: 210px;
  --node-height: 85px;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flow-node {
  max-width: var(--node-width) !important;
  min-width: var(--node-width) !important;
  max-height: var(--node-height) !important;
  min-height: var(--node-height) !important;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.uncompleted {
  background-color: red;
}

.completed {
  background-color: green;
}

.confirmed {
  background-color: blue;
}

.unconfirmed {
  background-color: yellow;
}
