.tableContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: var(--mantine-radius-default);
}
.table {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--mantine-color-gray-1);
}
.tableHeader {
  font-size: var(--mantine-font-size-sm);
}
.timeColumn {
  position: absolute;
  font-size: var(--mantine-font-size-sm);
}