.panel {
  background-color: var(--mantine-color-white);
  display: flex;
  flex-direction: column;
}
.panelPadding {
  padding: var(--mantine-spacing-sm);
}
.panelHandleVertical {
  flex: 0 0 0.6rem;
  transition: background-color 250ms;
}
.panelHandleVertical[data-resize-handle-active="pointer"] {
  background-color: var(--mantine-color-dark-2);
}
.panelHandleHorizontal {
  flex: 0 0 0.6rem;
  transition: background-color 250ms;
}
.panelHandleHorizontal[data-resize-handle-active="pointer"] {
  background-color: var(--mantine-color-dark-2);
}